<!DOCTYPE html>
<html lang="en">
<head>
	{include file='common@general/meta' /}
	{block name="seo"}
		{include file='common@general/seo' /}
	{/block}
	{include file='common@general/css' /}
	{//css href="__ROOT__/lib/bootstrap/4.3.1/bootstrap.css"/}
	{css href="__ROOT__/lib/bootstrap/3.4.1/css/bootstrap.css"/}
	{css href="__ROOT__/lib/bootstrap/3.4.1/css/bootstrap-theme.css"/}
	{block name="css"}

	{/block}

</head>
<body>
	{block name="body"}

	{/block}
	{include file='common@general/js' /}
	{js href="__ROOT__/lib/layer_mobile/layer.js"/}
	{js href="__ROOT__/lib/popper/popper.js"/}
	{//js href="__ROOT__/lib/bootstrap/4.3.1/bootstrap.js"/}
	{js href="__ROOT__/lib/bootstrap/3.4.1/js/bootstrap.js"/}
	{js href="__ROOT__/lib/vue/vue.js"/}
	{block name="js"}

	{/block}
	{/* BEGIN 统计脚本 */}
	{$tongji|default=""}
	{/* END 统计脚本 */}
</body>
</html>