{extend name='general/base'/}

{block name='nav'}
<span class="c-666">{$pagetitle}</span> 
<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a>
{/block}

{block name='main'}
<p class="f-20">
	{$pagetitle}
</p>
		<div class="cl pd-5 bg-1 bk-gray mt-20">
			<span class="l"> 
				<a href="javascript:;" onclick="layer_show('新增商户','{:url("admin/merchant/merchant_add")}','800','500');" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 新增数据</a> 
			</span>
			<span class="r">共有数据：<strong>{$count}</strong> 条</span>
		</div>
		<table class="table table-border table-bordered table-bg table-hover" style="white-space:nowrap">
			<thead>
				<tr>
					<th scope="col" colspan="15">商户列表</th>
				</tr>
				<tr class="text-c">
					<!-- h-ui.js中实现全选功能的脚本 
						/*全选*/
						$("table thead th input:checkbox").on("click",function() {
							$(this).closest("table").find("tr > td:first-child input:checkbox").prop("checked", $("table thead th input:checkbox").prop("checked"));
						});
					 -->
					<th>操作</th>
					<th>ID</th>
					<th>名称</th>
					<th>邮箱</th>
					<th>手机</th>
					<th>地区</th>
					<th>创建者</th>
					<th>管理员</th>
					<th>状态</th>
					<th>登录IP</th>
					<th>登录时间</th>
					<th>登录次数</th>
					<th>创建时间</th>
					<th>修改时间</th>
				</tr>
			</thead>
			<tbody>
			{volist name='list' id='vo'}
				<tr class="text-c" title="{$vo.merchant_description}">
					<td class="td-manage">
					{if condition="$vo.merchant_status eq '正常'"}
						<a style="text-decoration:none" onClick="ajax_post_confirm('{:url("admin/merchant/do_merchant_status")}',{id:'{$vo.merchant_id}'},'{$vo.merchant_name}','禁用')" href="javascript:;" title="禁用"><i class="Hui-iconfont">&#xe631;</i></a> 
					{else /}
						<a style="text-decoration:none" onClick="ajax_post_confirm('{:url("admin/merchant/do_merchant_status")}',{id:'{$vo.merchant_id}'},'{$vo.merchant_name}','启用')" href="javascript:;" title="启用"><i class="Hui-iconfont">&#xe725;</i></a> 
					{/if}
						<a title="编辑" href="javascript:;" onclick="layer_show('编辑商户','{:url("admin/admin/admin_edit",["id"=>$vo.merchant_id])}','800','500')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe647;</i></a> 
						<a title="改密码" href="javascript:;" onclick="layer_show('修改密码','{:url("admin/admin/admin_password",["id"=>$vo.merchant_id])}','800','500')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe63f;</i></a>
						<a title="删除" href="javascript:;" onclick="ajax_post_confirm('{:url("admin/merchant/do_merchant_delete")}',{id:'{$vo.merchant_id}'},'{$vo.merchant_name}','删除')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a>
					</td><td>{$vo.merchant_id}</td>
					<td>
						<span class="name">{$vo.merchant_name}</span>
					</td>
					<td>{$vo.merchant_email}</td>
					<td>{$vo.merchant_mobile}</td>
					<td>{$vo.district.district_name}</td>
					<td>{$vo.creator.admin_name}</td>
					<td style="white-space:normal" class="text-l">
						{volist name='vo.child' id='vo_c'}
							<span title="{$vo_c.admin_account}">{$vo_c.admin_name}</span> /
						{/volist}
					</td>
					<td>
						{if condition="$vo.merchant_status eq '正常'"}
							<span class="label radius label-success">
								{$vo.merchant_status}
							</span>
						{else /}
							<span class="label radius">
								{$vo.merchant_status}
							</span>
						{/if}
					</td>
					<td>{$vo.merchant_login_ip}</td>
					<td style="white-space:normal">{$vo.merchant_login_time}</td>
					<td>{$vo.merchant_login_count}</td>
					<td style="white-space:normal">{$vo.create_time}</td>
					<td style="white-space:normal">{$vo.update_time}</td>
				</tr>
			{/volist}
			</tbody>
		</table>
		
{/block}

{block name='js'}
{js href="__ROOT__/lib/My97DatePicker/4.8/WdatePicker.js"/}
{js href="__ROOT__/lib/datatables/1.10.0/jquery.dataTables.min.js"/}
{js href="__ROOT__/lib/laypage/1.2/laypage.js"/}
<script type="text/javascript">

</script>
{/block}

{block name='css'}
<style type="text/css" media="screen">
	
</style>
{/block}