{extend name='general/base-layer' /}

{block name='main'}
	<form method="post" class="form form-horizontal">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>商户名称：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" placeholder="商户中/英文全称，3到100个字" id="merchant_name" name="merchant_name" rangelength="[3,100]" required>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>邮箱：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" name="merchant_email" placeholder="邮箱格式xxx@xxx.xxx" required>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>手机：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" name="merchant_mobile" placeholder="填写正确的手机号" required>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>密码：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="password" class="input-text" placeholder="字母、数字、下划线、减号，4到25位之间" name="merchant_password" id="merchant_password" rangelength="[4,25]" required>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>密码再输入一次：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="password" class="input-text" placeholder="字母、数字、下划线、减号，4到25位之间" name="merchant_password_confirm" rangelength="[4,25]" required>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">所在地区：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<div id="district"></div>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">可用状态：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<div class='switch size-S' data-on="success" data-on-label="正常" data-off-label="禁用">
					<input type='checkbox' name='merchant_status' checked="checked" />
    			</div>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">描述信息：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<textarea class="textarea" placeholder="对商户的描述信息" name="merchant_description"></textarea>
			</div>
		</div>
		<div class="row cl">
			<lable class="form-label col-xs-4 col-sm-3">分配管理员：</lable>
			<div class="formControls col-xs-8 col-sm-9">
				<label>
					<input type="checkbox" id="checkall" />
					<strong>全选</strong>
				</label>
				<div class="panel panel-default mt-5">
					<div class="row cl panel-body">
			    	{volist name='admin_list' id='vo_a'}
				    	<div class="col-xs-12 col-sm-4">
				    		<label title="{$vo_a.admin_description}" {if condition='$vo_a.admin_super neq 0 OR $vo_a.admin_account eq "admin"'} class="c-warning" {/if}>
				    			<input type="checkbox" name="admin_id[]" value="{$vo_a.admin_id}" {if condition='$vo_a.admin_id eq $Think.session.admin_infor.admin_id'} checked="true" {/if} />
				    			{$vo_a.admin_account}
				    			{if condition='$vo_a.role.role_name'}
				    			({$vo_a.role.role_name})
				    			{/if}
				    		</label>
				    	</div>
			    	{/volist}
			    	</div>
				</div>
			</div>
		</div>
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
				<button type="submit" class="btn btn-success radius disabled" disabled="disabled">提交数据</button>
			</div>
		</div>
	</form>
{/block}

{block name='js'}
{include file='common@general/js-jquery-plugin-linkage' /}
<script type="text/javascript">
	$(function() {
		// 实现菜单全选
		$("#checkall:checkbox").on("click",function() {
			$(this).parents(".formControls").find(".panel input:checkbox").prop("checked", $("#checkall:checkbox").prop("checked"));
		});
		// 只有当表单中有数据变化时，提交按钮才可用
		$("form").children().bind('input propertychange', function() {
			$(":submit").removeClass('disabled').removeAttr("disabled");
		});
		// 引用自建的js-jquery-plugin-linkage插件实现地区联动
		$("#district").linkage({
			url:"{:url('index/service/district')}",
			value_key:"district_id",
			text_key:"district_name",
			root_father:"86",
			default_values:['210000','210100'],
			level:2,
			select_css:"select",
			span_css:"select-box radius inline mr-5",
		});
		$("form").validate({
			rules : {
				merchant_email: {
					email: true,
				},
				merchant_mobile: {
					isMobile: true,
				},
				merchant_password_confirm: {
      				equalTo : "#merchant_password"
    			},
			},
			submitHandler: function(form) {
				// 当验证通过时执行ajax提交
				// 自定义函数ajax_post(url,data);
				ajax_post("{:url('admin/merchant/do_merchant_add')}",$("form").serialize());
			}
		});
	});
</script>
{/block}

{block name='css'}
<!-- 编写本页特有的样式 -->
<style type="text/css" media="screen">

</style>
{/block}
