{extend name='general/base-layer' /}

{block name='main'}
	<form method="post" class="form form-horizontal">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>ID：</label>
			<div class="formControls col-xs-8 col-sm-9">
				{$merchant.merchant_id}<input type="hidden" value="{$merchant.merchant_id}" id="merchant_id" name="merchant_id" />
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>商户名称：</label>
			<div class="formControls col-xs-8 col-sm-9">
				{$merchant.merchant_name}
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">其他信息：</label>
			<div class="col-xs-8 col-sm-9">
				<a href="{:url("admin/merchant/merchant_edit",["id"=>$merchant.merchant_id])}">要修改其他信息请点这里</a>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>密码：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="password" class="input-text" placeholder="字母、数字、下划线、减号，4到25位之间" id="merchant_password" name="merchant_password" rangelength="[4,25]" required>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>密码再输入一次：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="password" class="input-text" placeholder="字母、数字、下划线、减号，4到25位之间" id="merchant_password_confirm" name="merchant_password_confirm" equalTo:merchant_password rangelength="[4,25]" required>
			</div>
		</div>
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
				<button type="submit" class="btn btn-success radius disabled">提交数据</button>
			</div>
		</div>
	</form>
{/block}

{block name='js'}
<script type="text/javascript">
	$(function() {
		// 只有当表单中有数据变化时，提交按钮才可用
		$("form").children().bind('input propertychange', function() {
			$(":submit").removeClass('disabled').removeAttr("disabled");
		});

		$("form").validate({
			rules : {
				merchant_password_confirm: {
      				equalTo : "#merchant_password"
    			},
			},
			submitHandler: function(form) {
				// 当验证通过时执行ajax提交
				// 自定义函数ajax_post(url,data);
				ajax_post("{:url('admin/merchant/do_merchant_password')}",$("form").serialize());
			}
		});
	});
</script>
{/block}

{block name='css'}
<!-- 编写本页特有的样式 -->
<style type="text/css" media="screen">

</style>
{/block}
