{extend name='general:base'/}
{block name="css"}
<style type="text/css" media="screen">
	
</style>
{/block}
{block name="body"}
<h1>欢迎您访问{$title}</h1>

<div class="container-fluid">
	<div class="row">
		<div class="col-xs-6 col-sm-4 col-md-3 col-lg-1">
			<a class="btn btn-primary btn-lg" href="{:url('index/index/vue')}">vue测试</a>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-3 col-lg-1">
			<a class="btn btn-primary btn-lg" href="{:url('index/index/bootstrap')}">Bootstrap</a>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-3 col-lg-1">
			<a class="btn btn-primary btn-lg" href="{:url('index/index/jqueryplugin')}">jQuery插件</a>
		</div>
	</div>
	<div id="district"></div>
</div>
{/block}
{block name="js"}
<script type="text/javascript">

</script>
{/block}