{/*后台弹层页面模板，使用hui-admin框架，无顶栏和菜单栏*/}
{/*引入jquery、vue、layer框架脚本*/}
{/*用于后台弹层页面，如新增、编辑*/}
<!DOCTYPE HTML>
<html>
<head>
{include file='common@general/meta' /}
{include file='common@general/seo' /}
{include file='common@general/css-hui-iconfont' /}
{include file='common@general/css-hui-admin'/}
{include file='common@general/css-common-admin' /}
{block name='css'}
	{// 页面自定义样式}
{/block}
</head>
<body>
	<article class="cl pd-20">
	{block name='main'}
		{// 页面主体，已经在artical标签内}
	{/block}
	</article>
{include file='common@general/js-jquery'/}
{include file='common@general/js-vue'/}
{include file='common@general/js-layer'/}
{include file='common@general/js-hui'/}
{include file='common@general/js-hui-admin-page'/}
{include file='common@general/js-jquery-validation'/}
{block name='js'}
	{// 页面自定义脚本}
{/block}
{/* BEGIN 统计脚本 */}
{$tongji|default=""}
{/* END 统计脚本 */}
</body>
</html>