{/*后台主体页面模板，使用hui-admin框架*/}
{/*引入jquery、vue、layer框架脚本*/}
{/*用于后台主体页面*/}
<!DOCTYPE HTML>
<html>
<head>
{include file='common@general/meta' /}
{include file='common@general/seo' /}
{include file='common@general/css-hui-iconfont' /}
{include file='common@general/css-hui-admin' /}
{include file='common@general/css-common-admin' /}
{block name='css'}
	{// 页面自定义样式}
{/block}
</head>
<body>
{include file='general/header' /}
{include file='general/menu' /}
<section class="Hui-article-box">	
	<nav class="breadcrumb">
		<i class="Hui-iconfont"></i> <a href="{:url('admin/home/index')}" class="maincolor">首页</a> 
		<span class="c-999 en">&gt;</span>
		{block name='nav'}
			{// 已经在nav标签内且不包含“首页”结点}
		{/block}
	</nav>
	<div class="Hui-article">
		<article class="cl pd-20">
		{block name='main'}
			{// 页面主体，已经在artical标签内}
		{/block}
	</article>
{include file='general/footer' /}
</div>
</section>
{include file='common@general/js-jquery' /}
{include file='common@general/js-vue' /}
{include file='common@general/js-layer' /}
{include file='common@general/js-hui' /}
{include file='common@general/js-hui-admin-page' /}
{include file='common@general/js-common-admin' /}
{/* BEGIN 默认展开当前菜单 */}
<script type="text/javascript">
	$(function() {
		// 上当前页的菜单处于展开状态
		$(".Hui-aside .menu_dropdown dd li a").each(function(i) {
			if($(this).attr("href").toLowerCase().indexOf("{$Request.path}".toLowerCase())>=0) {
				$(this).parents("dd").show();
			}
		});
	});
</script>
{/* END 默认展开当前菜单 */}
{block name='js'}
	{// 页面自定义脚本}
{/block}
{/* BEGIN 统计脚本 */}
{$tongji|default=""}
{/* END 统计脚本 */}
</body>
</html>