{/*最基本的页面模板，除iconfont外不带任何框架脚本和样式*/}
{/*用于与任何页面都有样式继承的页面，如登录页*/}
<!DOCTYPE html>
<html lang="en">
<head>
	{include file='common@general/meta' /}
	{include file='common@general/seo' /}
	{include file='common@general/css-hui-iconfont' /}
	{include file='common@general/css-common' /}
	{block name="css"}

	{/block}
</head>
<body>
	{block name="body"}

	{/block}
	{include file='common@general/js-common' /}
	{block name="js"}

	{/block}
	{/* BEGIN 统计脚本 */}
	{$tongji|default=""}
	{/* END 统计脚本 */}
</body>
</html>