{extend name='general/base'/}
{block name='css'}

{/block}
{block name='nav'}
<span class="c-666">{$pagetitle}</span> 
<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a>
{/block}

{block name='main'}
<p class="f-20">
	{$pagetitle}
</p>
<div class="cl pd-5 bg-1 bk-gray mt-20">
	<span class="l"> 
		<a href="javascript:;" onclick="layer_show('新增业务','{:url("admin/business/business_add")}','800','500');" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 新增数据</a> 
	</span>
	<span class="r">共有数据：<strong>{$count}</strong> 条</span>
</div>
<table class="table table-border table-bordered table-bg table-hover" style="white-space:nowrap">
	<thead>
		<tr>
			<th scope="col" colspan="6">业务目录</th>
		</tr>
	</thead>
	<tbody>
		{volist name='list' id='vo'}
		<tr class="success">
			<td class="text-c" width="30">{$vo.business_level}级</td>
			<td width="60" class="text-l td-manage">
				<a style="text-decoration:none" onclick="layer_show('新增子业务','{:url("admin/business/business_add",["fid"=>$vo.business_id])}','800','500');" href="javascript:;" title="添加下一级"><i class="Hui-iconfont">&#xe61f;</i></a>
				<a style="text-decoration:none" onclick="layer_show('修改业务','{:url("admin/business/business_edit",["id"=>$vo.business_id])}','800','500');" href="javascript:;" title="编辑" class="ml-5"><i class="Hui-iconfont">&#xe647;</i></a>
				{if condition="$vo.business_status eq '正常'"}
				<a style="text-decoration:none" title="禁用" onclick="ajax_post_confirm('{:url("admin/business/do_business_status")}',{id:'{$vo.business_id}'},'{$vo.business_name}','禁用')" href="javascript:;" class="ml-5"><i class="Hui-iconfont">&#xe624;</i></a>
				{else}
				<a style="text-decoration:none" title="启用" onclick="ajax_post_confirm('{:url("admin/business/do_business_status")}',{id:'{$vo.business_id}'},'{$vo.business_name}','启用')" href="javascript:;" class="ml-5"><i class="Hui-iconfont">&#xe725;</i></a>
				{/if}
				{empty name="$vo.level2"}
				<a title="删除" href="javascript:;" onclick="ajax_post_confirm('{:url("admin/business/do_business_delete")}',{id:'{$vo.business_id}'},'{$vo.business_name}','删除')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a>
				{/empty}
			</td>
			<td colspan="4" class="text-l f-14">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 {if condition="$vo.business_status eq '禁用'"} del {/if}">
					<span class="strong">{$vo.business_id}</span>：<span class="strong">{$vo.business_name}</span>
					{if condition="$vo.business_description"}
						（{$vo.business_description}）
					{/if}
				</div>
			</td>
		</tr>
		{volist name='vo.level2' id='vo2'}
		<tr class="warning">
			<td class="text-c">{$vo2.business_level}级</td>
			<td width="60" class="text-l td-manage">
				<a style="text-decoration:none" onclick="layer_show('新增子业务','{:url("admin/business/business_add",["fid"=>$vo2.business_id])}','800','500');" title="添加下一级" href="javascript:;"><i class="Hui-iconfont">&#xe61f;</i></a>
				<a style="text-decoration:none" onclick="layer_show('修改业务','{:url("admin/business/business_edit",["id"=>$vo2.business_id])}','800','500');" title="编辑" href="javascript:;" class="ml-5"><i class="Hui-iconfont">&#xe647;</i></a>
				{if condition="$vo2.business_status eq '正常'"}
				<a style="text-decoration:none" title="禁用" onclick="ajax_post_confirm('{:url("admin/business/do_business_status")}',{id:'{$vo2.business_id}'},'{$vo2.business_name}','禁用')" href="javascript:;" class="ml-5"><i class="Hui-iconfont">&#xe624;</i></a>
				{else}
				<a style="text-decoration:none" title="启用" onclick="ajax_post_confirm('{:url("admin/business/do_business_status")}',{id:'{$vo2.business_id}'},'{$vo2.business_name}','启用')" href="javascript:;" class="ml-5"><i class="Hui-iconfont">&#xe725;</i></a>
				{/if}
				{empty name="$vo2.level3"}
				<a title="删除" href="javascript:;" onclick="ajax_post_confirm('{:url("admin/business/do_business_delete")}',{id:'{$vo2.business_id}'},'{$vo2.business_name}','删除')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a>
				{/empty}
			</td>
			<td class="text-c" width="20">└</td>
			<td colspan="3" class="text-l f-14">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 {if condition="$vo2.business_status eq '禁用'"} del {/if}">
					<span class="strong">{$vo2.business_id}</span>：<span class="strong">{$vo2.business_name}</span>
					{if condition="$vo2.business_description"}
						（{$vo2.business_description}）
					{/if}
				</div>
			</td>
		</tr>
		{volist name='vo2.level3' id='vo3'}
		<tr>
			<td class="text-c">{$vo3.business_level}级</td>
			<td class="text-l td-manage">
				<a style="text-decoration:none" title="编辑" onclick="layer_show('修改业务','{:url("admin/business/business_edit",["id"=>$vo3.business_id])}','800','500');" href="javascript:;"><i class="Hui-iconfont">&#xe647;</i></a>
				<a style="text-decoration:none" title="关联" onclick="layer_show('设置相关业务','{:url("admin/business/business_relevance",["id"=>$vo3.business_id])}','800','500');" href="javascript:;" class="ml-5"><i class="Hui-iconfont">&#xe6f1;</i></a>
				{if condition="$vo3.business_status eq '正常'"}
				<a style="text-decoration:none" title="禁用" onclick="ajax_post_confirm('{:url("admin/business/do_business_status")}',{id:'{$vo3.business_id}'},'{$vo3.business_name}','禁用')" href="javascript:;" class="ml-5"><i class="Hui-iconfont">&#xe624;</i></a>
				{else}
				<a style="text-decoration:none" title="启用" onclick="ajax_post_confirm('{:url("admin/business/do_business_status")}',{id:'{$vo3.business_id}'},'{$vo3.business_name}','启用')" href="javascript:;" class="ml-5"><i class="Hui-iconfont">&#xe725;</i></a>
				{/if}
				<a style="text-decoration:none" title="清除相关" onclick="ajax_post_confirm('{:url("admin/business/do_business_relevance_clear")}',{id:'{$vo3.business_id}'},'{$vo3.business_name}','清除相关')" href="javascript:;" class="ml-5"><i class="Hui-iconfont">&#xe68f;</i></a>
				<a style="text-decoration:none" title="删除" onclick="ajax_post_confirm('{:url("admin/business/do_business_delete")}',{id:'{$vo3.business_id}'},'{$vo3.business_name}','删除')" href="javascript:;" class="ml-5"><i class="Hui-iconfont">&#xe6e2;</i></a>
			</td>
			<td></td>
			<td class="text-c" width="20">└</td>
			<td colspan="2" class="text-l f-14">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 {if condition="$vo3.business_status eq '禁用'"} del {/if}">
					<span class="strong">{$vo3.business_id}</span>：<span class="strong">{$vo3.business_name}</span>
					{if condition="$vo3.business_description"}
						（{$vo3.business_description}）
					{/if}
				</div>
				{if condition="$vo3.relevances"}
				<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 mt-5 mb-5">相关</div>
				<div class="col-xs-11 col-sm-11 col-md-11 col-lg-11 mt-5 mb-5">
					{foreach $vo3.relevances as $vo4_1}
					<div class="col-xs-7 col-sm-5 col-md-4 col-lg-2">
						<span title="相关：{$vo4_1.business_name} {$vo4_1.business_description}" class="label {if condition="$vo4_1.business_status eq '禁用'"} label-default del {else} label-secondary {/if} radius">{$vo4_1.business_id}：{$vo4_1.business_name}</span>
					</div>
					{/foreach}
				</div>
				{/if}
				{if condition="$vo3.businesses"}
				<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 mt-5 mb-5">被相关</div>
				<div class="col-xs-11 col-sm-11 col-md-11 col-lg-11 mt-5 mb-5">
					{foreach $vo3.businesses as $vo4_2}
					<div class="col-xs-7 col-sm-5 col-md-4 col-lg-2">
						<span title="被相关：{$vo4_2.business_name} {$vo4_2.business_description}" class="label {if condition="$vo4_2.business_status eq '禁用'"} label-default del {else} label-warning {/if} radius">{$vo4_2.business_id}：{$vo4_2.business_name}</span>
					</div>
					{/foreach}
				</div>
				{/if}
			</td>
		</tr>
		{/volist}{//3级}
		{/volist}{//2级}
		{/volist}{//1级}
	</tbody>
</table>
{/block}
{block name='js'}
{js href="__ROOT__/lib/datatables/1.10.0/jquery.dataTables.min.js"/}
{js href="__ROOT__/lib/laypage/1.2/laypage.js"/}
<script type="text/javascript">

</script>
{/block}